<html>
  <head>
    {% if title %}
    <title>Upcountry - {{ title }}</title>
    {% else %}
    <title>Upcountry</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://use.typekit.net/njo1tvk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <nav>
      <div class="logo"><h1><a class="logo" href="{{ url_for('index') }}">Upcountry</a></h1></div>
      <a href="{{ url_for('index') }}">Home</a>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
