<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.author }}</h3>
    <p>
        {{ post.body }}
    </p>
    <footer>
      {% if not post.questions == None %}
      <li><a href="{{ url_for('answer', post_id=post.id) }}">Answer Questions</a></li>
      {% endif %}
      <li>{{ post.comments.count() }}{% if post.comments.count() == 1 %} Comment{% else %} Comments{% endif %}</li>
      <li><a href="{{ url_for('post', post_id=post.id) }}">Add Comment</a></li>
    </footer>
    {% endfor %}
{% endblock %}
