<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
    <div class="post">
    <div class="flex-container">
    <header>
    <h1><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h1>
    <h3>{{ post.author }}</h3>
    <h4>{{ post.timestamp.date() }}</h4>
    </header>
    <section>
        {{ post.body|safe }}
    </section>
    </div>
    <footer>
      {% if post.questions.count() > 0 %}
      <li><a href="{{ url_for('answer', post_id=post.id) }}#questions">Answer Questions</a></li>
      {% endif %}
      <li>{% if post.comments.count() > 0 %}<a href="{{ url_for('post', post_id=post.id) }}#comments">{% endif %}
          {{ post.comments.count() }}{% if post.comments.count() == 1 %} Comment{% else %} Comments{% endif %}
          {% if post.comments.count() > 0 %}</a>{% endif %}</li>
      <li><a href="{{ url_for('post', post_id=post.id) }}#comments">Add Comment</a></li>
    </footer>
  </div>
    {% endfor %}
{% endblock %}
