{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="question">
    {{ form.hidden_tag() }}
    <table>
        <tr>
          <td>Question Type:</td>
          <td>{{ form.qtype(size=2, maxLength=20) }}</td>
        </tr>
        <tr>
          <td>Question Content:</td>
          <td>{{ form.body(size=500, maxLength=500) }}</td>
        </tr>
            <td>
            {% for error in form.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit Question"></td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}
